In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv('./datasets/train.csv')

In [3]:
df.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

In [4]:
df.shape

(2051, 81)

In [5]:
df.isnull().sum()

Id                   0
PID                  0
MS SubClass          0
MS Zoning            0
Lot Frontage       330
Lot Area             0
Street               0
Alley             1911
Lot Shape            0
Land Contour         0
Utilities            0
Lot Config           0
Land Slope           0
Neighborhood         0
Condition 1          0
Condition 2          0
Bldg Type            0
House Style          0
Overall Qual         0
Overall Cond         0
Year Built           0
Year Remod/Add       0
Roof Style           0
Roof Matl            0
Exterior 1st         0
Exterior 2nd         0
Mas Vnr Type        22
Mas Vnr Area        22
Exter Qual           0
Exter Cond           0
                  ...
Half Bath            0
Bedroom AbvGr        0
Kitchen AbvGr        0
Kitchen Qual         0
TotRms AbvGrd        0
Functional           0
Fireplaces           0
Fireplace Qu      1000
Garage Type        113
Garage Yr Blt      114
Garage Finish      114
Garage Cars          1
Garage Area          1
Garage Qual        114
Garage Cond        114
Paved Drive          0
Wood Deck SF         0
Open Porch SF        0
Enclosed Porch       0
3Ssn Porch           0
Screen Porch         0
Pool Area            0
Pool QC           2042
Fence             1651
Misc Feature      1986
Misc Val             0
Mo Sold              0
Yr Sold              0
Sale Type            0
SalePrice            0
Length: 81, dtype: int64

In [6]:
features = ['Lot Area','Overall Qual']
X = df[features]

In [7]:
y = df['SalePrice']

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [10]:
print(X_train.shape)
print(X_test.shape)

(1538, 2)
(513, 2)

In [11]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression

In [12]:
lr = LinearRegression()

In [13]:
cross_val_score(lr, X_train, y_train).mean()

0.6613602634823468

In [14]:
lr.fit(X_train, y_train)
lr.score(X_test, y_test)

0.7342562685142882

### Let's make predictions to submit to kaggle!

In [15]:
df_to_pred = pd.read_csv('./datasets/test.csv')

In [16]:
df_to_pred.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,9,2006,New
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,7,2007,WD
4,625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD

In [17]:
X_holdout = df_to_pred[features]
X_holdout.head()

   Lot Area  Overall Qual
0      9142             6
1      9662             5
2     17104             7
3      8520             5
4      9500             6

In [18]:
X_holdout['PredSalePrice'] = lr.predict(X_holdout)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [19]:
X_holdout.head()

   Lot Area  Overall Qual  PredSalePrice
0      9142             6  174556.825174
1      9662             5  133224.637271
2     17104             7  235945.388212
3      8520             5  130524.285891
4      9500             6  175403.345133

In [20]:
X_holdout.drop(features, axis=1, inplace=True)

/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [21]:
X_holdout.columns = ['SalePrice']

In [22]:
X_holdout.head()

       SalePrice
0  174556.825174
1  133224.637271
2  235945.388212
3  130524.285891
4  175403.345133

In [23]:
X_holdout['Id'] = df_to_pred['Id']

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [24]:
X_holdout.head()

       SalePrice    Id
0  174556.825174  2658
1  133224.637271  2718
2  235945.388212  2414
3  130524.285891  1989
4  175403.345133   625

In [25]:
X_holdout.set_index('Id', inplace=True)

In [26]:
X_holdout.head()

          SalePrice
Id
2658  174556.825174
2718  133224.637271
2414  235945.388212
1989  130524.285891
625   175403.345133

In [27]:
X_holdout.to_csv('./my_first_submission.csv')

In [28]:
X = df[['Lot Area','Overall Qual']]
y = df['SalePrice']

In [29]:
from sklearn.preprocessing import StandardScaler

In [30]:
ss = StandardScaler()

In [31]:
ss.fit(X_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [32]:
X_train_sc = ss.transform(X_train)

In [33]:
X_test_sc = ss.transform(X_test)

In [36]:
from sklearn.linear_model import Ridge

In [37]:
ridge_model = Ridge()

In [39]:
from sklearn.model_selection import cross_val_score

In [41]:
cross_val_score(ridge_model, X_train_sc, y_train)

array([0.67537194, 0.66543695, 0.64331342])

In [42]:
ridge_model.fit(X_train_sc, y_train)

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [43]:
from sklearn.linear_model import RidgeCV

In [44]:
ridgecv_model = RidgeCV()

In [45]:
cross_val_score(ridgecv_model, X_train_sc, y_train)

array([0.67508272, 0.6659466 , 0.6433107 ])

In [47]:
ridgecv_model.fit(X_train_sc, y_train)

RidgeCV(alphas=(0.1, 1.0, 10.0), cv=None, fit_intercept=True, gcv_mode=None,
    normalize=False, scoring=None, store_cv_values=False)

In [48]:
ridgecv_model.alpha_

10.0